@mixin breakpoint($point) {
	@if $point == laptop {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 768px) { @content ; }
	}
	@else if $point == phone {
		@media (max-width: 480px) { @content ; }
	}
}