body{
	
.wrap{
	header{
		nav{
			width:90%;
			margin-top:30px;
			ul{
				li{
					display: block;
					a{
						font-size:2.8em;
					}
				}
			}
		}
	}
	.content{
		.greeting-text{
			padding:3px;
			p{ font-size: .70em;

				span{
					
				}
			}
			
		}
	}
	
	.work-div{
		h2{
					font-size: 3em;
				}
		.row{
			a{

				img{
					width:95%;
				}
			}
		}
	}

	.about-div{
		text-align: center;
		h2{
					font-size: 3em;
				}
		p{
			width:90%;
		}
	}

	.bottom-div{
		padding-left:0px;
		padding-right:0px;
		h2{
					font-size: 3em;
				}

		.contact-boxes{

			input{
				width:90%;
			}

			textarea{
				width:90%;
			}
		}
	}
}

}







