body{
	
	
.wrap{
	.content{
		.greeting-text{
			
			p{
			font-size: .85em;
				span{
					
				}
			}
			
		}
	}
	
	.work-div{
		.row{
			a{
				img{
					width:47%;
				}
			}
		}
	}

	.about-div{

		p{
			width:90%;
		}
	}

	.bottom-div{
		padding-left:0px;
		padding-right:0px;

		.contact-boxes{

			input{
			
			}
		}
	}
}
.greeting-text{
	p{
		font-size: .95em;
	}
}
}







